# Responsáveis por todas as mudanças no repositório
/package @JoaoPedro-Ribeiro @barbosarebc @gitmantovani @kaiquemota @LevitaSofia
* @JoaoPedro-Ribeiro @barbosarebc @gitmantovani @kaiquemota @LevitaSofia