.Search {
    background-image: url('../../Assets/backgroundsearch.png');
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: row;
    background-size: cover;
    background-position: center;
}
  
.SearchHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.SearchBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 1000px;
    gap: 20px;
}

.SearchBody {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
}

.book-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.Search h3 {
    font-size: 18px;
    color: #333;
}

.modal-Add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    box-shadow: 8px 8px 0 #6435F1;
    color: var(--branco);
    width: 700px;
    height: 670px;
    border: 1px solid #6435F1;
    border-radius: 30px;
}

.box-Add {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.upload-container {
    border: 1px solid var(--branco);
    width: 120px;
    height: 170px;
    padding: 5px;
}

.headerUser button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -40px;
}

.headerUser button:hover {
    background-color: var(--cinza-medio);
    color: var(--cinza-escuro);
}

.headerUser {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.headerUser .upload-container {
    margin-left: 260px;
}

.input-container {
    color: var(--branco) !important;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 500px;
}

.input-container input {
    background-color: black;
    color: var(--branco);
    width: 100%;
    height: 50px;
    border: 0 none;
    outline: 0;
    margin-left: 10px;
    font-size: 20px;
}

.input-container label {
    color: var(--branco) !important;
    outline: none !important;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyUser {
    margin-top: 30px;
}

.bottomUser {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.bottomUser select {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0 none;
    outline: 0;
    background-color: var(--cinza-escuro);
    height: 40px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    color: var(--branco);   
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.input-bottom input {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0 none;
    outline: 0;
    background-color: var(--cinza-escuro);
    height: 40px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    width: 50px;
    color: var(--branco); 
}

.input-bottom input::-webkit-inner-spin-button,
.input-bottom input ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
