.Search {
    background-image: url('../../Assets/backgroundsearch.png');
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

.Search::-webkit-scrollbar {
    width: 5px;
}

.Search::-webkit-scrollbar-track {
    background: transparent;
}

.Search::-webkit-scrollbar-thumb {
    background-color: var(--cinza-medio);
    border-radius: 4px;
}

.Search::-webkit-scrollbar-thumb:hover {
    background-color: var(--cinza-claro);
}
  
.SearchHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.SearchBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 1200px;
    gap: 20px;
}

.SearchBody {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    justify-content: center;
    gap: 20px;
}

.book-card {
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.book-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.Search h3 {
    font-size: 18px;
    color: #333;
}

.modal-Add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    box-shadow: 8px 8px 0 #6435F1;
    color: var(--branco);
    width: 700px;
    height: 670px;
    border: 1px solid #6435F1;
    border-radius: 30px;
}

.box-Add {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.upload-container, .upload-containerUpd {
    border: 1px solid var(--branco);
    width: 120px;
    height: 170px;
    padding: 5px;
}

.upload-containerBook {
    border: 1px solid var(--branco);
    width: 120px;
    height: 170px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerUser button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -40px;
}

.headerUser button:hover {
    background-color: var(--cinza-medio);
    color: var(--cinza-escuro);
}

.headerUser {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.headerUser .upload-containerUpd {
    margin-left: 0px;
}

.headerUser .upload-container {
    margin-left: 260px;
}

.capa-livro {
    width: 100%;
    height: 100%;
    object-fit: 'cover';
}

.input-container {
    color: var(--branco) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 76%;
}

.input-container input {
    background-color: black;
    color: var(--branco);
    width: 100%;
    height: 50px;
    border: 0 none;
    outline: 0;
    margin-left: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-container label {
    color: var(--branco) !important;
    outline: none !important;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyUser {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottomUser {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.bottomUser select {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0 none;
    outline: 0;
    background-color: var(--cinza-escuro);
    height: 40px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    color: var(--branco);   
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.input-bottom input {
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0 none;
    outline: 0;
    background-color: var(--cinza-escuro);
    height: 40px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    width: 50px;
    color: var(--branco); 
}

.input-bottom input::-webkit-inner-spin-button,
.input-bottom input ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.book-card p {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    white-space: nowrap;
    padding-top: 10px;
    font-size: 18px;
}

@media (max-width: 1300px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr);  
    }
}

@media (max-width: 840px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);  
    }
    .modal-Add {
        width: 90%;
        height: 90%;
        position: relative !important;
    }
    .headerUser {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 40px;
        position: relative;
        height: 35%;
        align-items: center;
    }

    .upload-containerUpd {
        display: flex;
        margin-top: -40px;
        padding: auto;
        align-items: center;
    }

    .bottomUser{
        margin: auto;
        height: 20%;
    }
    
    .box-Add {
        margin: auto;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .book-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}