.Home {
  background-image: url('../../Assets/backgroundhome.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.HomeBody {
  display: flex;
  align-items: center;
  width: 52%;
  gap: 20px;
  margin-bottom: 500px;
}