* {
    margin: 0;
    padding: 0;
    font-family: Yantramanav;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url("assets/backgroundimage.png");
    background-size: cover;
    background-position: center;
}

.App{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.App h1 {
    color: #FFFFFF;
    font-size: 120px;
    margin-bottom: 400px;
    margin-left: 400px;
}

.Login {
    margin-bottom: 150px;
    margin-right: 400px;
}
