main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../Assets/backgroundlogin.png");
    background-size: cover;
    background-position: center;
}

.LoginPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formLogin {
    margin-bottom: 40px;
    margin-right: 200px;
}

.container {
    width: 400px;
    height: 550px;
    background-color: #1E1D1D;
    border-radius: 40px;
    padding: 50px;
}

.container h2 {
    text-align: center;
    font-size: 55px;
    color: var(--branco);
    margin-bottom: 30px;
}

.container .input-field {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    padding: 15px;
    font-size: 15px;
}

.container .recall-forget {
    display: flex; 
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 6px 130px;
}

.recall-forget label {
    color: var(--branco);
    cursor: pointer;
}

.recall-forget input {
    margin-right: 5px;
    cursor: pointer;
}

.recall-forget a {    
    color: var(--branco);
    text-decoration: none;
}

.recall-forget a:hover {
    color: #5A5A5A;
    text-decoration: underline;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 140px;
    height: 50px;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px
}

.container button:hover {
    background-color: var(--cinza-medio);
    color: var(--branco);
}

.container p {
    margin-top: -120px;
    font-size: 17px;
    margin-bottom: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}