
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../Assets/backgroundimage.png");
    background-size: cover;
    background-position: center;
}

.Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Login h1 {
    color: var(--branco);
    font-size: 120px;
    margin-bottom: 400px;
    margin-left: 400px;
}

.formLogin {
    margin-bottom: 150px;
    margin-right: 400px;
}

.container {
    width: 450px;
    height: 550px;
    background-color: #1E1D1D;
    border-radius: 40px;
    padding: 50px;
}

.container h2 {
    text-align: center;
    font-size: 50px;
    color: var(--branco);
    margin: 0px 120px 0px 120px;
}

.container .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    padding: 15px;
    font-size: 20px;
}

.container .recall-forget {
    display: flex; 
    justify-content: space-between;
    font-size: 14px;
    margin: -5px 6px 100px;
}

.recall-forget label {
    color: var(--branco);
    cursor: pointer;
}

.recall-forget input {
    margin-right: 5px;
    cursor: pointer;
}

.recall-forget a {    
    color: var(--branco);
    text-decoration: none;
}

.recall-forget a:hover {
    color: #5A5A5A;
    text-decoration: underline;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 140px;
    height: 50px;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px
}

.container button:hover {
    background-color: var(--cinza-medio);
    color: var(--branco);
}